<% if (url_for(page.path) != '/index.html' && url_for(page.path).indexOf('categories') == -1){ %>
    <div class="widget catalog">
        <h3 class="title">目录</h3>
        <div>
            <%- toc(page.content, {list_number: false}) %>
        </div>
    </div>
<% } %>